<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
</head>
<body>
<section>
    <div class="container p-5 mt-4">
        <div class="row">
            <div class="col-md-4 offset-md-5">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-header text-center">
                        <p class="fs-4">Edit Category</p>
                        <th:block th:if="${session.successMsg}">
                            <p class="text-success text-center fw-bold">[[${session.successMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger text-center fw-bold">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/admin/updateCategory" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" th:value="${category.id}">
                            <div class="mb-3">
                                <label>Enter Category</label>
                                <input type="text" class="form-control" name="categoryName" th:value="${category.categoryName}">
                            </div>
                            <div class="mb-3">
                                <label>Status</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive" value="true" id="flexRadioDefault1" th:checked="${category.isActive==true}">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Active
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive" value="false" id="flexRadioDefault2" th:checked="${category.isActive==false}">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Inactive
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label>Upload Image</label>
                                <input type="file" class="form-control" name="file" value="@{'/static/img/category_img/'+${category.imageName}}">
                            </div>
                            <div class="text-center">
                                <img th:src="${category.imageName}" width="100px" height="100px" alt="">
                            </div>
                            <button class="btn btn-primary col-md-12 mt-2">Save Changes</button>
                        </form>
                    </div>
                </div>
                <a th:href="@{'/admin/category'}" class="text-success"><i class="fa-solid fa-circle-left fa-2x"></i></a>
            </div>
        </div>
    </div>
</section>