<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Error</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="col-md-6 p-5 fs-4 text-center offset-md-3">
            <i class="fa-solid fa-circle-check fa-4x text-success"></i>
            <p class="fs-2"> Your order has been placed successfully</p>
            <p class="fs-3"> Thank You !!</p>
            <div class="text-center">
                <a href="/" class="btn btn-info text-light">Home</a>
                <a href="/products" class="btn btn-info text-light">Continue shopping</a>
            </div>
        </div>
    </div>
</section>

</body>
</html>